<div *ngIf="recipe" class="gray-container" >
  <form (ngSubmit)="onSubmit(f)" #f="ngForm">

    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" [(ngModel)]="recipe.name" id="name" name="name" class="form-control" placeholder="Name" ngModel required>
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <input type="text" [(ngModel)]="recipe.description" id="description"  name="description" class="form-control" placeholder="Description" ngModel required>
    </div>

    <button (click)="goBack()" class="btn btn-default">Cancel</button><button type="submit" class="btn btn-primary">Update</button> 

    </form>
</div>
  