@import '../app.component.css';

.recipe-resume-container{
    border-radius: 10px 10px 10px 10px;
    border: 2px solid rgb(99, 107, 114, .15);
    padding: 0px; 
    padding: 10px;
    margin: 10px;
}
 
.recipeName {
    font-size: 20px;
}

.selectable {
    cursor: pointer;
}
